// Main content
$temp: 9rem;
$location: 4rem;

// Sidebar
$itemMargin: 2.8rem;
$sectionMargin: 4rem;
$sidebarTextColor: rgba(
  $color: #ffffff,
  $alpha: 0.5,
);
$sidebarFontSize: 1.6rem;
$sidebarPadding: 3rem;
$sidebarWidth: 40vw;
